<% if flash[:message] != nil || flash[:message] != ""%>
  <h3><%= flash[:message] %></h3>
<% end %>
  <h2><%=@event.name%></h2>
  <h4><%=@event.city%>, <%=@event.state%></h4>
  <p><%=@event.description%></p>
  <p><%=@event.date%> <%=@event.time%></p>
  <a href="/users/<%=@event.user.slug%>"> <p><%=@event.user.username%></p></a>
  <%if current_user == @event.user%>
    <form action="/events/<%= @event.id%>/edit" method="get">
      <input id="hidden" type="hidden" name="_method" value="edit">
      <input type="submit" value="Edit Event">
    </form>
    <form action="/events/<%= @event.id%>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Event">
    </form>
    <br>
    <br>
  <%end%>

  <form action="/events/<%=@event.id%>/comments" method="post">
    <label>Add Comment:</label>
    <input type="text" name="comment[content]">
    <input type="submit" value="Submit Comment">
  </form>

  <%@event.comments.each do |comment|%>
    <p><%=comment.content%></p>
    <a href="/users/<%=comment.user.slug%>"><p><%=comment.user.username%></p></a>
    <%if current_user == comment.user%>
      <form action="/events/<%= @event.id%>/comments/<%=comment.id%>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Comment">
      </form>
      <br>
    <%end%>
  <%end%>

  <a href="/events">Home</a>
  <a href='/logout'>Log Out</a>
